################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/api/ChattO/.containers/chatto-db
/.idea
